<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Khanjian Family Dogs Create Dog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="templatemo_container">
        <div id="templatemo_topsection">
            <div id="templatemo_topsection_title">My Family Dog Search</div>
            <div class="templatemo_topmenu">
                <ul>
                    <li><a href="/home/index" class="current">HOME</a></li>
                    <li><a href="/dogs/dogsindex">DOGS</a></li>
                    <li><a href="/dogs/add">CREATE</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
