@{
    ViewBag.Title = "Family Dogs";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Khanjian Family Dogs</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="templatemo_left_column">
        <div id="templatemo_left_top"></div>
        <div class="button">CATEGORIES</div>
        <div class="templatemo_leftmenu">
            <ul>
                <li><a href="#">»  Create New Dog</a></li>
                <li><a href="#">»  Dog Index</a></li>
                <li><a href="#">»  Doggy Hotel </a></li>
                <li><a href="#">»  Grooming </a></li>
                <li><a href="#">»  The Vet</a></li>
            </ul>
        </div>
        <div class="button">QUICK LINKS</div>
        <div class="templatemo_leftmenu">
            <ul>
                <li><a href="#">»  Dog Blog</a></li>
                <li><a href="#">»  Dog Park</a></li>
                <li><a href="#">»  PetCo</a></li>
                <li><a href="#">»  PetSmart</a></li>
                <li><a href="#">»  Youtube</a></li>
            </ul>
        </div>
    </div>
    <div id="templatemo_right_column">
        <div id="templatemo_right_top"></div>
        <div id="templatemo_right_mid">
            <h1>THE FAMILY DOG</h1>
            <img src="~/Content/Images/20170930_122757.jpg" alt="templatemo.com" width="167" height="175" />
            <p>My puppies want a puppy! After years of begging, nagotating and complaining, I'm finally ready to give in to the whining, mopping and constant nagging.</p>
            <p>But not just any dog will do, no way!!! We need one that will fit our lifestyle, one that will fit in and become a part of our family. </p>
            <p>This site will enable the kids (Anita & Ben) to do their homework by procuring dog related data they find on the internet and entering it <a href="~/dogs/add">here</a> to help mom and I make a decision based on criteria such as shedding, exercise and aggression.</p>
            <h2>Local pounds in the City</h2>
            <p>Suspendisse potenti. Ut sed pede. Nullam vitae tellus. Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur velit tellus, placerat et, dapibus varius, aliquet quis, purus. Aliquam sagittis molestie sapien. Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat. Duis vitae velit. Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed leo. Duis suscipit lorem in risus.      </p>
            <p><strong>READ COMMENT - 3</strong></p>
            <p>&nbsp;</p>
            <h2>Vivamus a massa</h2>
            <p><img src="images/templatemo_photo2.jpg" alt="templatemo.com" width="139" height="137" />Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum. Integer imperdiet odio ac eros. Ut id massa. Nullam nunc. Vivamus sagittis varius lorem.</p>
            <p><strong>READ COMMENT - 5</strong></p>
        </div>
        <div id="templatemo_right_bot">Copyright © Family Dog Search <!-- Credit: www.templatemo.com --></div>
    </div>
    <!--  This layout is designed by w w w . t e m p l a t e m o . c o m  -->
    <!-- templatemo 034 pets -->
    <!--
    Pets Template
    http://www.templatemo.com/preview/templatemo_034_pets
    -->
</body>
</html>